.main {
    @apply p-12;
    .barChart {
        @apply grid grid-cols-2 gap-20;
        .card {
            width: 100%;
            height: 350px;
            position: relative;
        }
    }
    .area {
        width: 60%;
        height: 100px;
        margin: auto;
    }
}