{
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"arrowParents": "avoid",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/assets/(.*)$",
		"^@/utils/(.*)$",
		"^@/config/(.*)$",
		"^@/types/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}